@model MvcPL.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
}

@section content {
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>Регистрация</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Login, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Login, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.SubmitButton("Регистрация")
        </div>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
